.dashboard {
  padding: 100px 24px 24px 24px;
  height: 100vh;

  .container {
    width: 700px;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #cfd6e4;
  }

  .learnedWordsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px dotted #cfd6e4;
    margin-bottom: 24px;
  }

  .learnedWords {
    font-size: 20px;
    font-weight: 500;
  }

  .repeatBtn {
    border: 1px solid #0066ff;
    background-color: #fff;
    border-radius: 4px;
    color: #0066ff;
    outline: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: #0066ff;
      color: #fff;
    }
  }

  .wordsList {
    list-style: none;
    border: 1px solid #cfd6e4;
    padding: 8px;
  }
}
