.settings {
  padding: 100px 24px 24px 24px;

  .container {
    width: 720px;
    margin: 0 auto;
  }

  .tabs {
    padding-left: 24px;
    display: flex;
    gap: 8px;
  }

  .tabBtn {
    outline: none;
    border: 1px solid #cfd6e4;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px 5px 0 0;
  }

  .active {
    background-color: #fff;
    z-index: 1;
    border-bottom: none;
    font-weight: 600;
    font-size: 14px;
    color: #213547;
  }

  .activeTab {
    border: 1px solid #cfd6e4;
    border-radius: 5px 8px 8px 5px;
    background-color: white;
    padding: 24px;
    position: relative;
    top: -1px;
    overflow: auto;
  }
}

.lessonSettings {
  .slider,
  .levels,
  .exercise {
    padding-left: 24px;
  }
  .sliderInput {
    width: 200px;
  }

  .sliderValue {
    font-weight: 500;
    margin-bottom: 8px;
    span {
      color: #0066ff;
    }
  }

  .blockTitle {
    padding-top: 40px;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e9e3e3;
    margin-bottom: 24px;
  }

  .checkboxList {
    list-style: none;

    input {
      margin-right: 8px;
    }

    li {
      margin-bottom: 8px;
      font-weight: 500;
    }
  }

  .saveButton {
    width: 340px;
    height: 40px;
    background: #0066ff;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 16px auto;
    font-size: 14px;

    &:hover {
      background-color: #1f78ff;
      border: none;
    }

    -webkit-transition: background 5ms ease;
    -moz-transition: background 5ms ease;
    -ms-transition: background 5ms ease;
    -o-transition: background 5ms ease;
    transition: background 5ms ease;
  }
}

.profileSettings {
}
// =============================================================================

// =============================================================================
@media (max-width: 768px) {
  .settings {
    padding: 50px 16px 24px 16px;

    .container {
      width: 100%;
    }

    .activeTab {
      padding: 16px;
    }
  }
}
// =============================================================================
