a {
  font-weight: 600;
  color: #000;
  text-decoration: inherit;
}

.headerScrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  height: 70px;
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;

  .container {
    height: 100%;
    display: flex;
    background-color: #fff;

    align-items: center;
    justify-content: space-between;
    padding: 24px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.6rem;
    flex: 1 0 25%;

    a {
      color: #0066ff;
      font-weight: 700;
    }
  }

  nav {
    display: flex;
    align-items: center;
    flex: 1 0 25%;
    min-width: 280px;
    justify-content: flex-end;
  }

  .navList {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: #dfe1e5;
      margin-right: 24px;
    }
  }

  .navItem {
    cursor: pointer;

    a {
      &:hover {
        color: #0066ff;
      }
    }
  }

  .userAuth {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .logIn {
    background-color: #0066ff;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #1f78ff;
    }

    a {
      color: #fff;
    }
  }

  .searchWrapper {
    flex: 1 1 50%;
  }
}

.search {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding-left: 44px;
    font-size: 16px;

    &:focus {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    }
  }

  input::placeholder {
    color: #7c8080;
    font-size: 16px;
    transform: translateY(1px);
  }

  .searchIcon {
    position: absolute;
    left: 16px;
    top: 11px;

    path {
      fill: #757575;
    }
  }

  .closeIcon {
    position: absolute;
    top: 11px;
    right: 16px;
    cursor: pointer;
  }

  .matchedWords {
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: 600px;
    padding: 8px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    li {
      padding-block: 4px;
    }
  }
}

.userMenu {
  position: relative;

  a {
    color: #213547;
    font-weight: normal;
    display: inline-block;
    width: 100%;
  }

  .userPhotoBlock {
    display: flex;
    align-items: center;
    height: 48px;
  }

  .userPhoto {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;
  }

  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 48px;
    right: 0;
    border: 1px solid #cfd6e4;
    border-radius: 8px;
    list-style: none;
    padding: 8px 8px;
    min-width: 200px;

    li {
      cursor: pointer;
      padding: 0 8px;
      padding-block: 8px;

      &:hover {
        background-color: #e3edfd;
        border-radius: 4px;
      }
    }

    li:first-child {
      border-bottom: 1px solid #cfd6e4;
      padding-bottom: 16px;
      cursor: auto;
      margin-bottom: 8px;

      &:hover {
        background-color: #fff;
      }
    }

    .userName {
      font-weight: 600;
      color: #000;
      font-size: 18px;
    }
  }
}
// =============================================================================
// for 1024 and less
@media (max-width: 1024px) {
  .header {
    nav {
      // display: none;
    }

    .burgerMenu {
      display: block;
    }
  }
}
// =============================================================================
// 768px

// =============================================================================
// 480px

// =============================================================================
