/* 
   block elements

      stack on top of each other.
      set height and margin-top, margin-bottom
      examples: div, p, h1 

   inline elements 

      sit side by side
      we cant set hight, margin-top and margin-bottom
      examples: span and a 

   inline-block elements

      sit side by side
      set height, margin-top and margin-bottom
      examples: img, button and input
*/