/* media queries */

/* we created media query and pass in it max-width: 800px, it means */
@media (max-width: 800px) {

   /* styles wroten here will be avalable only if browser width is
      800px or narrow  */
   body {
      color: #faf9f6;
      background-color: #202945;
   }
}

/* here it will work if browser width 500px or whide */
@media (min-width: 500px) {
   body {
       color: aliceblue;
       background-color: cornflowerblue;
   }
}

/* -----------------------------------------------------------------------------

Breakpoints

   -change layout
   -update text size
   -page adjustments
   
800px and 500px above are breakpoint

--------------------------------------------------------------------------------

combine medi query conditions using the 'and' keyword

this stylies will be applied to the page only from 500px to 800px */
@media (min-width: 500px) and (max-width: 800px) {
    body {
        color: aliceblue;
        background-color: cornflowerblue;
    }
    
    h1 {
        font-size: 3.5rem;
    }
}

/* -----------------------------------------------------------------------------

common breakpoints

   480px
   768px
   1024px
   1280px
   
============================================================================= */

@media (prefers-color-scheme: light) {
   :root {
     color: #213547;
     background-color: #F9F9F9;;
   }
   
   button {
     background-color: #f9f9f9;
   }
 }