/*
   justify-content:
      start (default), center, end, space-around, space-evenly, space-between
   
   align-items:
      start (default), center, end

   flex-diraction:
      row (default), column


/*** when we use `display: flex` and the flex container is given a height, 
   flex elements will stretch across the height of the container. 
   to improve it, we need give `align-items` property with any of the values to the container,
   this make flex elements to become inline elements  */
.container {
   height: 250px;
   display: flex;
   align-items: start;
}

/* --------------------------------------------------------------------------------

/* flexbox order

   we can change flexbox elements order */
   .coat {
      order: 3;
   }

/* order values  
      -1 - display item first
       1 - display item last
*/    