/* 
   viewport units
      vh
      vw

    
================================================================================
   vh - viewport height
      
   1vh is equal to 1% of viewport height

   to cover all the height of viewport

      nav {
          width: 175px;
          height: 100vh;
          background: #3d5a80;
      }  
      
      and now if we resize the browser so the viewport will be resized,
      but as we set 100vh, the bg will be covered all the viewport in any resizes 

      *****
      if we resize the viewport less than the content height 
      there will apear a gap, to fix it we need to set min-height

      nav {
          width: 175px;
          min-height: 100vh;
          background: #3d5a80;
      }

   -----------------------------------------------------------------------------

   vw - viewport with
      
   1vw is equal to 1% of viewport width

   these are common units like px, so we can use them everywere

   for example
       font-size: 2vw

   if viewport width is 1000px then font-size will be 2% of 1000px = 20px
      
         */