/* elements can have 2 classes 
      - modifier class  // common styles for all buttons
      -primarly  class  // styles only for this element

      for example button elemnt 

      <button class="btn btn-primary">Submit</button> */

/* modifier class - is commot class for all buttons  */
.btn {
   text-transform: uppercase;
   font-weight: 900;
   letter-spacing: 1px;
   padding: 1em 0;
   border: none;
   cursor: pointer;
}

/* in primary class we will change some common styles  */
.btn-primary {
   color: white;
   background-color: #8a71ec;
   margin-top: 1em;    
}