/* The object-fit CSS property is used to specify how the content of a replaced 
   element, such as an <img> or <video>, should be resized to fit its container. This property tells the content to fill the container in a variety of ways, such as preserving its aspect ratio or stretching to take up as much space as possible1.

   The object-fit property can take one of the following values:

   fill: This is the default value. The content is resized to fill the given  
         dimension. If necessary, the content will be stretched or squished to fit.
   contain: The content keeps its aspect ratio while fitting within the 
         element’s content box. The entire object is made to fill the box while preserving its aspect ratio, so the object will be “letterboxed” if its aspect ratio does not match the aspect ratio of the box.
   cover: The content keeps its aspect ratio and fills the element’s entire 
         content box. If the object’s aspect ratio does not match the aspect ratio of its box, then the object will be clipped to fit.
   scale-down: The content is sized as if none or contain were specified, 
         whichever would result in a smaller concrete object size1.
   none: The content is not resized. 
   
   objective-fit: cover; is like background-size: cover;  */