/* 
   Види селекторов
   Селекторы можно комбинировать
   Отношений между элементами
   Приоритет записи селекторов
   Наследование параметров

   -----------------------------------------------------------------------------

   Selectors

      *                 - to all elements
      id                - to an element with uniq id
      class             - to elements with the class
      element  (tag)    - to all elements of the same type (for example: p)
      :psedauclass      - to elements with a psedouclass (:visited)
      ::psedouelement   - to all psedouelements with the type (::after)
      [name="value"]    - to all elements with the attribute

   -----------------------------------------------------------------------------

   В CSS3 предусмотрено четыре вида отношений между элементами

      div p       // p являющиеся потомками div

      div > p     // только непосредственные потомки

      div ~ p     // правые соседи: все p на том же уровне вложенности, которые идут после div

      div + p     //первый правый сосед: p на том же уровне вложенности, который идёт сразу после div (если есть)

   -----------------------------------------------------------------------------

   Selector points

      element (tag) = 1 point
      classes = 10 point
      id = 100points
      style atribute in element = 1000

   in css we will not use id selectors much more, because it has 100 points 
   and sometimes we can be confused. 

   we are going to use 
      general styles: element selector (body)
      everything else: class selector

   -----------------------------------------------------------------------------

   Compount selectors

      div.container     - to all div elements with class container
      .c1.c2            - to all elements with both classes
      ul li             - to oll elements li inside an element ul
      .wrapper .info    - to the element with class info in the wrapper block 
      ol, ul            - to all ol and ul elements
      div>p             - to ell first chiled elements p in div blocks        

   Compound selector points

      .container a               = 10 + 1 = 11 points
      body .main .container a    = 1 + 10 + 10 + 1 = 22 points

      
   Selector recording priority

   if in one selector give 2 same properties with verious values then the the below one will be preoritized.

      div {                      
         font-size: 20px;  

         font-size: 30px;
      }                           // Result: 30px

   If an element is given 2 classes at the same time, the styles will be taken from the last class

   .first {
        color: red;
    }

    .second {                   
        color: green;
    }                            // result: collor - green

   -----------------------------------------------------------------------------

   multiple classes on one element

   <button class="button-el btn">Submit</button>

      button-el is a main class
      btn is a modifier class

   -----------------------------------------------------------------------------
   
   recomended to add this on the top of style.css

   *, *::before, *::after {
      box-sizing: border-box;    
   }

   it will help not to apear unneeded vertical or horizontal scralls

   -----------------------------------------------------------------------------

   // Наследование параметров

    Дочерные элементы наследуют стилизацию родителского элемента.
    Например: если зададим цвет тегу <body> , то все теги внутри него примут этот цвет 

    Не все теги и не все параметри наследуются, 
    Например: когда задаем стилы ссылку то, надо написать стили непосредственно селектору ссылки, а не его родителя - он не берет стили родителей   
    .nav {
        color: #3b3944;                     // Родительскому элементу задали цвет
        border: 1px solid black;            // border будет только у родительского элемента, дочерные не унаследуют этот параметр

        a {
            color: #3b3944;                 // Этот цвет повторно задали иммено ссилу - он не берет стиль у родителья
            font-size: 18px;
            margin: 26px 0 0 40px;
            float: left;                      // Обтекания с боку - убираем маленкие пространство между ссылками с права, которое идет по умолчанию 
		    border-bottom: 1px dashed #3b3944;
            }
    }

   -----------------------------------------------------------------------------
*/