/* text-shadow 

   h1 {
      font-size: 80px;
      text-shadow: 5px 5px 3px black;
   }

      5px      --horizonal shadow to the right,    
      5px      --vertical shadow to the bottom,     
      3px      --blur,       it is optional   
      balck    --shadow collor 

   h1 {
      font-size: 80px;
      text-shadow: -5px -5px 3px black;
   }

      /* -5px     --horizonal shadow to the left,
         -5px     --vertical shadow to the top,          

--------------------------------------------------------------------------------

   to get glowing effect around the letters:  

   body {
      background: whitesmoke;
      text-align: center;
   }

   h1 {
      color: white;
      text-shadow: 0px 0px 3px black;
   }

   use this to improve contrast if your backgound color and text color are a little bit similar 



--------------------------------------------------------------------------------

font

font-family: "Arial", "Helvetica", sans-serif;   // семейства шрифтов (ffa) - по умолчанию "Times New Roma" - **если в назваые шрифта есть пробели то пишем в кавичках
            
font-size: 16px;                            // размер шрифта (fz30) 
                                            // ВАЖНО: Размер шрифта браузера по умольчанию 16px
                                            // ВАЖНО: Свойства font-siza наследуется потомками   

font-style: normal;                         начертание шрифта (fsi)
                                                fsn  -regular (normal) обычное
                                                fsi  -italic  курсивное (рукопись)
                                                fso  -oblique наклонное (наклон на прово)  

font-weight: 400;                           насищеность шрифта   - fw600   (значение можно писать и цифрамы и словамы)
fwb     font-weight: bold;                      100  thin
                                                300  lite
                                                400  normal по умолчанию - писать не нужно 
                                                500  medium
                                                600  semibold
                                                700  bold
                                                900  black 

--------------------------------------------------------------------------------
color

color: red;                                     // цвет
color: #ff0000;                                 // hex
color: rgb(255,0,0);                            // rgb максимальная цифра 256 
color: rgba(250,1,5, 0.5);                      // rgb с алфа каналом - с прозрачностью от 0 до 1

--------------------------------------------------------------------------------

text

text-align:     ;                      ta-горизонтальное виравнивание текста
                                        left -по левему краю (по умолчанию)
                                        tar  -right   по правому краю
                                        tac  -center  по цетру
                                        taj  -justify растягивает на всю ширину 

text-decoration:    ;                  td-оформление текста
                                        tdu  -underline   нижное подчеркивание
                                        tdo  -overline    падчеркивание над текстом
                                        tdlt -line-trough зачеркивание текста
                                        tdn  -none        уберет все эфекты

text-shadow: 1px 2px 3px #000000;          tsh-тень к тексту
                                        1px -смещение по горизонтали (на 1px сдвинута в право)
                                        2px -смещение по вертикали (на 2px сдвинута вниз)
                                        3px -размер размития (blur)
                                                    #   -цвет  

text-transform

text-transform:   capitalized;      the first letters of each word will be 
                                       capitilised
                  lowercase;        all leters are lowercas   
                  uppercase;        all letters are uppercase
                  none;

text-ident: 50px;                       ti50-величину отступа первой строки блока текста (красная строка)

--------------------------------------------------------------------------------

Интервалы

Интервал между буквами
letter-spacing: 5px;                        // ls5            

интервал между словами
word-spacing: 10px;                         // ws10    

свойства пробелов между словами
white-space: nowrap;             
                                             whs nowrap  -запрещет перенос строки (вес текст пишет на одну линию 
                                                        и если линия текст длинный автоматически появляется горизонтальный скрол)
                                                whsn   normal  -возвращает в нормальное состояние  

Межстрочный интервал
line-height: 10px;              //  lh10px  -межстрочное ростояние текста    -по умолчание 1
                                // Нужно быть осторожным с этим значениям - если строка одна, он может наложить тексти друг на друга

--------------------------------------------------------------------------------

Вертикальное виравнивание элементов

vertical-align: ;                           // Выравнивает элемент по вертикали относительно своего родителя, окружающего текста или ячейки таблицы.
baseline|top|bottom|middle|sub|super|text-bottom|text-top|inherit|значение|проценты

ВАЖНО: вертикальное виравнивание работает только если у элемента стоит display: inline-block;

--------------------------------------------------------------------------------

Обтекание одного элемента другим 

float: left;                         Определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы 
                                        будут обтекать его с других сторон. Когда значение свойства float равно none, элемент выводится на странице 
                                        как обычно, при этом допускается, что одна строка обтекающего текста может быть на той же линии, что и сам элемент.
none                                -по умолчанию -Обтекание элемента не задается.
left                                -Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне.
right                               -Выравнивает элемент по правому краю, а все остальные элементы обтекают его по левой стороне.
inherit                             -Наследует значение родителя.  
                                                    
По умолчанию между ссылками (например в меню) с правой стороне есть маленкая пространство, это убирается с помощю float: none; 

--------------------------------------------------------------------------------