/* to set background to a container, we creat a container at first
   if the container is empty (hasn't any content yet), then we need to set a height for the container
   if there is any content then the container height will be equal to the content height. */
.container {
   width: 400px;
   height: 400px;
   background-image: url(lambo.png);
}

/* 
   background-color: 

   background-image: url("")

   background: linear-gradient(red, blue);

   background-position:

   backgrond-size: 

   background-repeat:

   background-attachment:
*/

/*  Background - управляет фоном элемента 

    background-color:          
    background-color: transparent;      прозрачный - не имеет цвет

    background-image: url(); - Устанавливает фоновое изображение для элемента. По умолчанию картинка повторяется пока не заполнится вес блок  


    background-position: 0 0;
        
        Задает начальное положение фоновой изоброжени, по умолчанию 0 по горизонтали и 0 по вертикали это левый верхный угол
        10px 20px   -задаем пикселями 
        50%  25%    -задаем процентами
        50%         - по центру
        center right -словами (center по горизонтали, right по вертикали)

    background-size - масштабирует фоновое изоброжения по заданим размерам

        auto auto   -по умолчанию
        100% auto   -растянуть по ширине
        auto 100%   -растянуть по высоте
        100% 100%   -растянуть по ширине и по высоте
        50px 70px   -растянуть по ширине 50px, по высоте 70px
        contain     -масштабирует изображение с сохранением пропорций таким 
                    образом, чтобы картинка целиком поместилась внутрь блока. То есть по меньшей стороне картинки
        cover       -Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. То есть по большей стороне картинки. Например если писать background: url() 50%/cover будет старатся держатся по центру 

    background-repeat - задает повторения фоновой изоброжении
    
        repeat      -по умолчанию повторяет 
        no-repeat   -не повторять картинку;
        repeat-x    -повторять по горизонтали
        repeat-y    -повторять по вертикали   
        space       -повторяет столько чтобы полносью заполнить облась (- редко 
                    исполюзуется) и добавляет пространства между повторениями чтобы получилось целые картинки от края до края
        round       -заполняет так же как space, но за счет растягивания  или 
                    сужения картинки - редко исполюзуется


    background-attachment - Устанавливает будет ли прокручиватся фоновое изоброжение вместе с блоком

        scroll      -по умолчанию прикручивается
        fixed       -не прокручивается
        local       -фон фиксируется с учётом поведения элемента. (Практически не ползуемся) 
        
        Если элемент имеет прокрутку, то фон будет прокручиваться вместе с содержимым, но фон выходящий за рамки элемента остаётся на месте.

    Можно одновременно подключенить цвет и изображение или несколько фоновых изоброжений и для каждой изменения задать свои параметри, они отделяются с запятими. Каждая следующая картинка будет под предедующой картинкой. 

        цвет и картинка:
        background: #18b5a4 url('img/background/avatar.jpg') no-repeat;

        две картинки, у каждой свои настройки. Каждая следующая ложится под предыдущую:
        background: url('img/background/avatar_3.jpg') left no-repeat, url('img/background/bg.jpg') 50%/cover no-repeat;

        три картинки, у каждой свои настройки. Каждая следующая ложится под предыдущую:
        background: url('img/background/avatar_2.jpg') right/50px no-repeat, url('img/background/avatar_3.jpg') left no-repeat, url('img/background/bg.jpg') 50%/cover no-repeat;

    *Универсальное свойство background позволяет установить одновременно несколько характеристик, только надо сохранить правилний синтексис:    
    
        background: color img position/size repeat attachment;
        background: #056748 url(img/background/bg.jpg) 0 0/200px 150px no-repeat fixed;     