/*  Псевдоэлементы - псевдоелементи могут с помощю CSS обратиться к содержимому или к части содержимого объекта, а так же добавить к объекту новые элементы

    задает стил первомй строке обзаца, при изменения размера экрана все равно стил применится только к первой строке

        .text::first-line

    задает стил первому символу обзаца, при изменения размера экрана все равно стил применится только к первой странице

        .text::first-letter 

    задает стил тексту подсказки в input в формах

        input::placeholder

    Этим двум псевдоклассом допустимо использовать свойства только те, которые относятся шрифту - изменения цвета, текста и фона

    ----------------------------------------------------------------------------
    before, after           

        ВАЖНО:  задается только блочным элементом, чтобы задать строчниым 
        надо сначала строчному элементу задать блочность display: inline-block;

        ::before - применяется для отоброжения желаемого контента до содержимого блока, к которому он добавляется.

    .list li::before {                          
        
        content: ' ';    - content: '';  указывается обязательно, content может иметь пустое значеные (просто пустые кавичкы).
        with: 10px;                                             
        border-radius: 50%;
        height: 10px;                                               
        background-color: red;
        display: inline-block;                  без фонов и картинок получили красные точки к строкам маркировочного списка
        margin: 0 10px 0 0;
   }            

        ::after - применяется для отоброжения желаемого контента ПОСЛЕ содержимого элемента, к которому он добавляется

    .list li::after {                           
        
        content: '>>';                          - content: '';  указывается обязательно, content может иметь пустое значеные (просто пустые кавичкы). Так же может содержать нужный контент, который хотим вывести (тут контент - >>)                                    
    }                             

    ----------------------------------------------------------------------------

    Псевдоэлементы можно скамбинировать с псевдоклассамы: 

    .list li:hover::before {                    -при наведение на строк списка красные точки получение наверху изменят цвет на синный
        background-color:blue;                   *записивать только в таком порядке сначала псевдоклассы потом только псевдоэлементы
    }     