*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --primary-color: #0066ff;
  --secondary-color: #757575;
  --border-color: #dfe1e5;
  --font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

   

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  height: 100vh;
  /* overflow: hidden; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F9F9F9;;
  }
}
